.tesla {
  --tesla-segments: 5;
  --tesla-angle: 45;
  --tesla-blur: 5;
  --tesla-width: 4;
  --tesla-hue: 180;
  --tesla-saturation: 100;
  --tesla-lightness: 50;
  background: paint(tesla-coil);
}

.static {
  --static-gradient-direction: to-top;
  --static-gradient-color: rgb(226, 80, 214);
  --static-gradient-size: 10;
  background: paint(static-gradient);
  /* animation: fire 2s ease-in-out infinite; */
}

.space {
  height: 10rem;
  --static-gradient-color: rgba(204, 41, 182, 0.74);
  --static-gradient-size: 13;
}

@keyframes fire {
  from {
    --static-gradient-size: 2;
  }
  to {
    --static-gradient-size: 10;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10rem;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  color: #444;
}

.field:nth-child(3n) {
  border-right: 10px solid #000000;
}

pre > div:nth-child(3n) input {
  border-bottom: 10px solid #000000;
}

pre > div > input:nth-child(1) {
  border-left: 10px solid #000000;
}

pre > div:nth-child(1) > input {
  border-top: 10px solid #000000;
}

.field[readonly] {
  color: #666;
  background: #eee;
  outline: none;
}

.solve {
  padding: 1rem 2rem !important;
  font-weight: 700 !important;
  font-size: 1.5em;
  border: 5px solid black;
  cursor: pointer;
}

.main {
  --static-gradient-direction: to-top;
  --static-gradient-color: rgb(148, 79, 142);
  --static-gradient-size: 30;
  background: paint(static-gradient);
  height: 100vh;
}
